<!DOCTYPE html>
<html lang="en">
<head>
  {%  load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shopping Cart</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/home/cart.css' %}">
</head>
{% include 'home/navbar.html' %}
<style>
  

</style>
<div class = "description-container">
<h1>Shopping Cart</h1>
<h2>Your Cart Total is ${{cart_cost_total}}</h2>
<button class="button-1" role="button" href ="#">Checkout</button>
<h2 class = "similar-product-section">Products Similar to the ones in your cart</h2>


<div class = "container">
  {% for item, cart_item in zipped_items %}
  <form method="POST" action="{% url 'update-item-quantity' id=item.id %}">
    

    {% csrf_token %}
    <div class = "border">
      
<p>{{item.name}}</p>
<img src="{{item.image.url}}" height="200">
<div class="spinbox">
    
    {{ form.quantity.label_tag }}
    <button type = "submit" name = "decrease">-</button>
    <h2>{{cart_item.quantity}}</h2>
    <button type = "submit" name = "increase">+</button>
  </div>
  </div>

</form>
{% endfor %}

<div class = "sidebar">
  {% for product in similar_products %}
  <div class = "image-container">
    <label for="similar-product"></label>
  <img name = "similar-product" src = {{product.image.url}} >
  
</div>
  {% endfor %}
</div>

</div>

</div>

</html>