<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>E-commerce Site</title>
  <script src="https://kit.fontawesome.com/37a1c72a36.js" crossorigin="anonymous"></script>
</head>
<link rel="stylesheet" type="text/css" href="{% static 'css/home/home.css' %}">
<body>
  <!-- Header section -->
  <header>
    <h1><img src="{% static 'images/cloudbazar.png' %}" width = "500" height="100"></h1>
    
    
        <div class="banner-container">
          <div class="banner">10% OFF SITEWIDE USE CODE "CLOUDLAUNCH" AT CHECKOUT</div>
        </div>
    <nav>
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="#">Products</a></li>
        <li><a href="{% url 'cart' %}">Cart</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>

    
    {% if request.user.is_authenticated %}
    <div class="dropdown">
 
      
      <span>My Account <i class="fa-solid fa-angle-down"></i></span>
      <div class="dropdown-content">
        <a href="{% url 'profile' %}">Profile</a>
        <a href="#">Orders</a>
        <a href="{% url 'logout' %}">Logout</a>
      </div>
    </div>
    
    {% else %}
    
    <a href="{% url 'sign-in' %}" class ="sign-in">Sign In</a>
  
    {% endif %}
    
  </header>

  <!-- Main content section -->
  <main>
    <section id="featured-products">
      <h2>Featured Products</h2>
      <!-- Add your featured product listings here -->
      <a href="https://youtube.com"><img src="{% static 'images/ps5_picture.jpg' %}" height="150" ></a>
    </section>

    <style>.scrollable-wheel {
      overflow-x: auto;
      /* Add a fixed width to limit the width of the scrollable wheel */
      width: 1000px; 
      height: 300px;
    }
    
    .scrollable-content {
      white-space: nowrap;
      /* Add height property to the content if needed */
    }
      .label {
        position: relative;
    top: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    right: 180px;
  }
      
    
    </style>
    <section id="latest-products">
      <h2>Latest Products</h2>
      
      <div class="scrollable-wheel">
        <div class="scrollable-content">
          
      {% for product in products %}
      <div class = "image-container">
      <a name ="product" href="https://youtube.com"><img src="{{product.image.url}}" alt="{{ product.name }}"width="200" height="150" ></a>
      {% if product.name|length >= 15 %}
      <label class = "label">{{ product.name|slice:":14" }}... $ {{product.price}}</label>
      {% else %}
      <label class = "label">{{product.name}} $ {{product.price}}</label>
      {% endif %}

    
      {% endfor %}
      </div>
      </div>
    </div>
    </section>
  </main>

  <!-- Footer section -->
  <footer>
    <p>&copy; 2023 Cloud Bazar. All rights reserved.</p>
  </footer>
</body>
</html>
