<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cloud Bazar</title>
  <script src="https://kit.fontawesome.com/37a1c72a36.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/home/product.css' %}">
</head>


  {% include 'home/navbar.html' %}




  
<h1>{{product.name}}</h1>
<p>{{product.description}}</p>
<p>$ {{product.price}}</p>
<div class="image-container">
<img src ="{{product.image.url}}" class = "resized-image"  >
<a class = "cart-link"href="{% url 'add_cart' product.id %}"><i class="fa-solid fa-cart-plus"></i></a>

<br><br><br><br><br><br>
<h1>Similar Products</h1>
<div class = "similar-product-image-container">
{% for sp in similar_products %}
<p>{{sp}}</p>
<img src="{{sp.image.url}}" >

{% endfor %}
</div>
</div>


</html>