<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password</title>
 
{% load static %}
</head>
<body style="font-family: Arial, sans-serif; background-color: #f4f4f4;">
  <div class="container" style="max-width: 600px; margin: 0 auto; padding: 20px;">
    <h2 style="color: #333; text-align: center;">Reset Password</h2>
    <p style="margin-bottom: 10px;">If this was an unauthorized request please contact <a href="mailto:cloudbazarsupport@gmail.com" style="color: #337ab7; text-decoration: none;">cloudbazarsupport@gmail.com</a>.</p>
    <p style="margin-bottom: 10px;">Thank you for choosing Cloud Bazar. We look forward to serving you!</p>
    <p>Your username, in case you've forgotten: {{ user.username }}</p>
    <div class="signature" style="margin-top: 20px;">
      <p style="margin-bottom: 5px;">Best regards,<br>Anton<br>Cloud Bazar</p>
    </div>
    <div style="text-align: center;">
      <a class="button" href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" style="display: inline-block; background-color: #337ab7; color: #fff; text-decoration: none; padding: 10px 20px; border-radius: 6px;">Reset Password</a>
    </div>
  </div>
</body>
</html>


