<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Password</title>
 
{% load static %}
</head>
<link rel="stylesheet" type="text/css" href="{% static 'css/authentication/reset_email_text.css' %}">
<body>
  <div class="container">
    <h2>Reset Password</h2>
    <p>If this was an unauthorized request please contact <a href="mailto:cloudbazarsupport@gmail.com">cloudbazarsupport@gmail.com</a>.</p>
    <p>Thank you for choosing Cloud Bazar. We look forward to serving you!</p>
    <div class="signature">
      <p>Best regards,<br>Anton<br>Cloud Bazar</p>
    </div>
    <div style="text-align: center;">
      <a class="button" href="http://example.com/reset-password">Reset Password</a>
    </div>
  </div>
</body>
</html>

