<html>
<head>
  <title>Email Entry Form</title>

</head>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/authentication/reset_provide_email.css' %}">
<header>

    <img src="{% static 'images/cloudbazar.png' %}" width = "500" height="100">
  </header>
<body>
  <div class="container">
    <h3>Please provide us your email so we can email you your password reset link</h3>

    <form action="{% url 'password-reset' %}" method="post">
      {% csrf_token %}
      <input type="email" id="email" name="email" placeholder = "Email" required>

      <input type="submit" value="Send Reset Link">
    </form>
  </div>
</body>
</html>

