<!DOCTYPE html>
<html lang="en">
<head>
  {%load static%}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Profile</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/user_profile/profile.css' %}">
</head>

<body>
  <header>
    <h1><img src="{% static 'images/cloudbazar.png' %}" width = "500" height="100" ></h1>
    <!-- Add any other header elements, like navigation links or a search bar -->
  </header>

  <div class="container">
    <aside class="sidebar">
      <!-- Sidebar content, e.g., navigation links -->
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'cart' %}">Cart</a></li>
        <li><a href="#">Orders</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
      </ul>
    </aside>

    <main class="profile-content">
      <!-- User profile content -->
      <div class="user-profile">
        <form action="{% url 'upload-profile-picture' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% if profile_picture.image%}
         <img src="{{profile_picture.image.url}}" height="200" alt="User Profile Picture"> 
            {% else %}
            <img src="{%static 'images/troll.png'%}" height="200" alt="User Profile Picture"> 
            {% endif %}
        <br>
        <input type="file" name="{{ form.image.name }}">
        <br><br>
        
    
        <label for="first_name">First Name</label>
        <input name = "first_name" value="{{profile_picture.user.first_name}}">
        <br><br>
        <label for="last_name">Last Name</label>
        <input name = "last_name" value="{{profile_picture.user.last_name}}">
        <br><br>

        <p class = "email" >Email: {{profile_picture.user.email}}</p>
        <br><br>
        <label for="username">Username</label>
        <input name = "username" value="{{profile_picture.user.username}}">
        <br><br>
        <!-- Add more user profile information as needed -->
        <button type = "submit">Save Changes</button>
      </div>
    </form>
    </main>
  </div>
  <div style="background-color: #333;">
    <br><br>
  </div>
  <div style = "background-color: #fff;">

<div class="your-listings-container" ><h2 class = "your-listings" >Your Listings</h2><button class = "add-listing" ><a href="{% url 'add-listing' %}">Add Listing +</a></button>
  

   <div class = "container">
    
  {% for product in user_listings %}
    <div class = "inner">
    <a name ="product" href="{% url 'product-view' product.id %}"><img src="{{product.image.url}}" alt="{{ product.name }}"width="200" height="150" ></a>
    <a class = "edit-listing" href = "{% url 'edit-listing' product.id%} ">Edit</a>
    <a class = "remove-listing" href ="{% url 'remove-listing' product.id%} " >Delete</a>
    {% if product.name|length >= 15 %}
    <label class = "product-label">{{ product.name|slice:":14" }}... $ {{product.price}}</label>
    {% else %}
    <label class = "product-label">{{product.name}} $ {{product.price}}</label>
    {% endif %}
    </div>
    {% endfor %}
  
  </div>
</div>

  <footer>
    <!-- Footer content, e.g., copyright information -->
    <p>&copy; 2023 Cloud Bazar. All rights reserved.</p>
  </footer>
</body>
</html>
